In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('amazon_df.csv', encoding='utf-8')
df.head()

,Unnamed: 0,categories:,ASIN:,group:,similar:,title:,salesrank:
0,Id:0,NaN,0771044445,NaN,NaN,NaN,NaN
1,Id:1,2.0,0827229534,Book,156101074X 0687023955 0687074231 082721619X,Patterns of Preaching: A Sermon Sampler,396585.0
2,Id:10,3.0,0375709363,Book,0679730672 0679750541 1400030668 0896086704,The Edward Said Reader,220379.0
3,Id:100,2.0,0787958743,Book,0397554168 1560535253 0875847471 0787955965,Guide to Effective Staff Development in Health...,783690.0
4,Id:10000,3.0,1589600282,Book,NaN,Exposition of Paul's Epistles,1544234.0

In [8]:
df2 = pd.read_csv('reviews.csv', encoding='utf-8')
df2.head()

   Unnamed: 0        cutomer:  helpful:    id  rating:  votes:
0           0  A2JW67OY8U6HHK         9  Id:1        5      10
1           1  A2VE83MZF98ITY         5  Id:1        5       6
2           2  A11NCO6YTE4BTJ         4  Id:2        5       5
3           3   A9CQ3PLRNIR83         5  Id:2        4       5
4           4  A13SG9ACZ9O5IM         8  Id:2        5       8