In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats
%matplotlib inline

In [1]:
df = pd.read_csv('amazon_df.csv', encoding='utf-8')
df.head()

NameError: name 'pd' is not defined

In [8]:
df2 = pd.read_csv('reviews.csv', encoding='utf-8')
df2.head()

   Unnamed: 0        cutomer:  helpful:    id  rating:  votes:
0           0  A2JW67OY8U6HHK         9  Id:1        5      10
1           1  A2VE83MZF98ITY         5  Id:1        5       6
2           2  A11NCO6YTE4BTJ         4  Id:2        5       5
3           3   A9CQ3PLRNIR83         5  Id:2        4       5
4           4  A13SG9ACZ9O5IM         8  Id:2        5       8